.home{
    position: absolute;
    bottom: 4px;
    right: 4px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 12px;
    border-radius: 28px;
    font-size: 16px;
    transition: all 0.3s;
}
.home i{
    font-size: 20px;
    margin-right: 8px;
}
.home:hover{
    opacity: 0.8;
}